################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/art/actor
/art/scenario
/art/skybox/red3
/art/skybox/red2
/art/skybox/red1
/art/skybox/purple
/art/skybox/lightblue
/art/skybox/cloudy-day
/art/skybox/blue
/art/building/sponza
/art/exp
/art/fmv/ubi.bik
/art/fmv/disco.bik
/art/object/backpack

/_vs17/.vs
/_vs17/**/.vs
/_vs17/**/Debug
/_vs17/**/Release

/afx/sim/afxAnimation.c
/afx/sim/afxMotor.c
/afx/sim/afxMotion.c
/afx/sim/afxBody.c
/afx/math/afxCurve.c
/afx/sim/dev/_CurveOps_Cpu.c
/afx/cad/afxSkeleton.c
/afx/sim/dev/_BuildGenericVmt.c
/afx/sim/dev/_MotiveVmt.c
/afx/sim/dev/_SampleTrackVmt.c
/afx/sim/dev/_Vmt.c

/afx/src/impl/xss/
/afx/exp
/afx/bink1/dep
/afx/cadio/dep
/afx/rad3d/dep
