################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sdk/build/Release
/sdk/build/.vs/afx
/art/actor
/art/scenario
/art/skybox/red3
/art/skybox/red2
/art/skybox/red1
/art/skybox/purple
/art/skybox/lightblue
/art/skybox/cloudy-day
/art/skybox/blue
/sdk/exp/projs
/sdk/exp
/sdk/src/e2coree/**/*.h
/sdk/src/e2coree/**/*.c
!/sdk/src/e2coree/draw/**
/sdk/src/e2coree/core/**/*.c
!/sdk/src/e2coree/math/**
/sdk/src/e2coree/sim/**/*.c
!/sdk/src/e2coree/sim/modeling/**/*.c
/sdk/src/e2coree/sound/**/*.c
/sdk/src/e2bang/**/*.c
/sdk/src/e2bink/**/*.c
/sdk/src/e2cad/**/*.c
/sdk/src/e2miles/**/*.c
/sdk/src/e2granny3d/**/*.c
/sdk/src/e2idtech/**/*.c
/sdk/src/e2rw/**/*.c
/sdk/src/e2goldsrc/**/*.c
/sdk/src/e2coree/deps/**
/art/building/sponza
/art/exp
/art/fmv/ubi.bik
/art/fmv/disco.bik
/art/object/backpack
/sdk/build/**/Debug
/sdk/build/**/Release
